[submodule "backward-cpp"]
	path = external/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "external/backward-cpp-pk"]
	path = external/backward-cpp-pk
	url = git@github.com:pkestene/backward-cpp.git
	branch = nvcc_wrapper
[submodule "external/backward-cpp-macro"]
	path = external/backward-cpp-macro
	url = https://github.com/pkestene/backward-cpp.git
	branch = fix_add_backward_macro
